
<div class="itemList">
        <div class="item">
                <h2>생리컵의 동작원리</h2>
                <p>여기에 인트로에 대한 텍스트를 넣어주세요 여기에 인트로에 대한 텍스트를 넣어주세요 여기에 인트로에 대한 텍스트를 넣어주세요 여기에 인트로에 대한 텍스트를 넣어주세요 여기에 인트로에 대한 텍스트를 넣어주세요
                </p>

                <p> 제주도 잘 다녀올게!</p>

                <blockquote>"어떻게 올라가야 한라산을 안전하게 올라갈 수 있는 걸까요?"</blockquote>
                <blockquote>"뭘 어떻게 준비해야 모두가 다치지 않게 다녀올 수 있나요?"</blockquote>
                <blockquote>"근데, 정상에 갈 수 있는 건가요?"</blockquote>
                

                <p> 이제 이런 궁금증을 단계별로 해결해봅시다. </p>

                <figcaption> 한라산도 굉장히 높은 산이다. 자연은 위대하다. 에베레스트 까지는 아닐지라도, 한라산도 아무나 받아주지 않는다. 그야말로 운이다. 아까 잠깐 확인해보니 진달래밭 까지만 입산가능하다고 한다.</figcaption>


        </div>
        


        <div class="item">
                <h2> ng2의 원리 <br/> 기본 매커니즘 for designer</h2>
                <p> ng2를 재사용가능한 프레임웍으로 선택한 것은 돌아봐도 좋은 선택이었다.</p>
        </div>

        <div class="item">
                <h2>2단계 <br/> 어떤 면에서 ng2를 적극 활용했으면 하는지 직접 공유</h2> 
                <p> 사실, 내가 팀원에게 명확하게 설명할 수 없는 것은, 나 자신도 이해를 제대로 하고 있지 못하다는 증거이다.</p>
                
        </div> 


</div> <!-- itemList end -->



