

$fontName : 'Noto Sans Korean', sans-serif;
$deepPupple: #673AB7;
$color-default : #9e9e9e;
$color-list-selected: white;

$black : #000;
$white: #fff;
$gray100 : #e5e5e5;
$gray200: #eee;
$gray300: #e0e0e0;
$gray900 : #212121;
$amber:  #FFC107;
$yellow: #FFEB3B;
$tealA200: #64FFDA;

$figcaptionColor: $yellow;
$blockquoteColor: $yellow;





// $border-color:  #673AB7;
$border-color:  none;



///@param {Length} $width
///@param {Length} $height
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin checkArea(){
  border: 2px solid $border-color;
}





a { color: $color-default; }
a:hover { border-bottom: 2px solid $black; }
a.selected { border-bottom: 2px solid $tealA200; }

ul { list-style-type: none; }
li.selected { background-color: $color-list-selected; }
p { font-size: 1rem;}

.hidden { display:none; }


/* for sidebar (Hide for mobile, show later) */

.sidebar{display: none;}
@media (min-width: 768px) {
  .sidebar {
    position:fixed;
    display:block;
    left:0;
    margin-top :12%;
    margin-left:2%;
  }
}

.sidebar-index-box {
  border: 2px solid $gray900;
  background-color: $white;

  > div { 
    margin-top: 3%; 
    padding: 6px 4px 6px 10px;  
    width:100%; 
  }
}

.sidebar-index-item {
  > a
     > span { color:$black;}
}





#wrap{ @include size(100%, auto);  }
.main { @include size(100%, auto);  }

@media (min-width: 768px) {
  .main {
      @include size(100%, auto);
      @include checkArea();
      -moz-box-sizing: border-box;
       box-sizing: border-box;
      
    }
}


.intro { 
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  
  @include size(100%, 460px);
  background-color:$tealA200;
  // background-image: url('berlinpark.jpg');
  // background-size:cover; 
}



div.itemList {
  @include size(960px, auto);
  margin: 0 auto;
}

/* item */
.item { 
  margin-top:18%;
  padding: 0 12%;
  @include checkArea();
   

  > h2 {
    @include checkArea();
    color:$black;
  }

  > p {
    @include size(100%, auto);
    @include checkArea();
    margin-top:6%;
    
  }

  > blockquote {
    text-align:center;
    margin:4px;
    @include size(40%, auto);
    border-radius:4px;
    background-color:$blockquoteColor;
  }

  > figcaption {
    margin-top: 5%;
    padding:20px;
    @include size(70%, auto);
    border-radius:4px;
    background-color:$figcaptionColor;
  }

  :nth-of-type(1){ margin-top:2%; }

}



.card {

  display:flex;
  flex-flow : row wrap;
  align-items:stretch;
  justify-content: space-between;
  
  @include size(960px, 900px);
  @include checkArea();
  
  margin-top:18%;
  padding:2%;

}


.card_1depth {
  display:flex;
  flex-flow: column nowrap;
  @include size(33%, auto);
  margin-top:2px;
}

.card_2depth{
  display:flex;
  flex-flow: column nowrap;
  @include size(auto, 100%);
  
  border: 2px solid $gray900;

    > h4 {
      text-align:center;
      padding:20px;
      margin-top:2px;
    }

    > img{
      @include size(50%, auto);
      margin:auto;
    }

    :nth-of-type(2n+1) {
      background-color:$tealA200;
      @include size(auto, 64%);
    }
    :nth-of-type(2n) { @include size(auto, 36%); }
}

.card_3depth{
  display:flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: stretch;

  @include size(100%, auto);
  padding:10px;
  padding-left:20px;
  text-align:left;

  > span{
    @include size(74px, auto);
  }

}



.more-view{
  border: 2px solid $gray100;
  margin : 20px auto;
  padding-left: 12%;
}

.area-ref {
  @include checkArea();
  margin-top : 10%;
}

.usage-item {
  margin:10px;
  padding: 30px; 
  @include checkArea();
}


