<section class="side_bar">
        <ul>
        <li>{{sectionTitle}}</li>
        <li>생리컵이란?</li>
        <li>제품 정보</li>
        <li>역사</li>
        <li>장단점</li>
        <li>이슈</li>
        <li>생김새</li>
        <li class="selceted">작동원리</li>
        <li>사용법</li>
        <li>생리컵의 속성</li>
        </ul>
</section>





<!--<div id="wrap">-->
        <section class="intro">
                <div class=intro_title> <h1>사용법</h1></div>
        </section>

        <section class="contents">

                <div class="cards">
                        <div class="usageCard" (click)="checkAttr($event)">1</div>
                        <div class="usageCard">2</div>
                        <div class="usageCard">3</div>
                        <div class="usageCard">4</div>
                        <div class="usageCard">5</div>
                        <div class="usageCard">6</div>
                </div>
                


                <button (click)="onPrev()">
                        <i class="material-icons md-48">navigate_before</i>
                </button>
                <button (click)="onNext()">
                        <i class="material-icons md-48">navigate_next</i>
                </button>
                
        </section>
        
<!--</div>-->


