

<section class="side_bar">
        <ul>
                <li *ngFor="let index of IndexList"
                        (click)="onSelect(index)"
                        [class.selected] = 'index === selectedIndex'>
                        {{index.name}}
                </li>
        </ul>
</section>




<div id="wrap">
        <section class="intro">
                <div class=intro_title> <h1>{{selectedIndex.name}}</h1></div>
        </section>

        <section class="contents">
                <div [hidden]="selectedIndex.name_eng != 'intro'" ><mc-intro></mc-intro></div>
                <div [hidden]="selectedIndex.name_eng != 'shape'" ><mc-shape></mc-shape></div>
                <div [hidden]="selectedIndex.name_eng != 'principle'" ><mc-principle></mc-principle></div>
                <div [hidden]="selectedIndex.name_eng != 'usage'" ><mc-usage></mc-usage></div>
                <div [hidden]="selectedIndex.name_eng != 'history'" ><mc-history></mc-history></div>
                <div [hidden]="selectedIndex.name_eng != 'purchasing'" ><mc-purchasing></mc-purchasing> </div>
                <div [hidden]="selectedIndex.name_eng != 'proscons'" ><mc-proscons></mc-proscons> </div>
        </section>    
</div>

