<section class="side_bar">
        <ul>
        <li>생리컵</li>
        <li>생리컵이란?</li>
        <li>제품 정보</li>
        <li>역사</li>
        <li>장단점</li>
        <li>이슈</li>
        <li>생김새</li>
        <li class="selceted">작동원리</li>
        <li>사용법</li>
        <li>생리컵의 속성</li>
        </ul>
</section>




<!--<div id="wrap">-->
        <section class="intro">
                <div class=intro_title> <h1>사용법</h1></div>
        </section>

        <section class="contents">
                <mc-intro></mc-intro>
        </section>
        
<!--</div>-->

