
<div class="itemList">
        <div class="item">
                <h2>생리컵의 생김새</h2>
                <p>여기에 생김새에 대한 텍스트를 넣어주세요 여기에 생김새에 대한 텍스트를 넣어주세요 여기에 생김새에 대한 텍스트를 넣어주세요 여기에 생김새에 대한 텍스트를 넣어주세요 여기에 생김새에 대한 텍스트를 넣어주세요
                </p>

                <p> 말은 쉽지만 막상 사용해보려면 궁금한 점이 많이 생기게 된다.</p>

                <blockquote>"어떻게 접어야 잘 접은 건가요?"</blockquote>
                

                <p> 이제 이런 궁금증을 단계별로 해결해봅시다. </p>

                <figcaption>
                        여기에 생김새에 대한 텍스트를 넣어주세요 여기에 생김새에 대한 텍스트를 넣어주세요 여기에 생김새에 대한 텍스트를 넣어주세요 여기에 생김새에 대한 텍스트를 넣어주세요 여기에 생김새에 대한 텍스트를 넣어주세요
                </figcaption>


        </div>
        
</div> <!-- itemList end -->



